.allbg {
  margin-bottom: 150px;
}

.title {
  color: gray;
  font-size: 13px;
}

.table-add {
  width: 100%;
  font-size: 25px;
  text-align: center;
  color: black;
  font-weight: 500;
}

.table {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.table-header {
  display: flex;
  line-height: 40px;
  background-color: #87cefa;
  border-left: 1px solid;
  border-top: 1px solid;
}

.header-title {
  flex: 1;
  text-align: center;
  color: #666666;
  font-weight: 700;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.table-content {
  display: flex;
  line-height: 40px;
  border-left: 1px solid #999999;
  border-top: 1px solid #999999;

}

.content-title {
  flex: 1;
  text-align: center;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
